<!-- templates/base.html -->
{% load static %}

<html>
	<head>
		<title>Django Blog</title>
		<link rel="stylesheet" href="{% static 'css/base.css' %}" />
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="\stylesheet" />
	</head>
	<body>
		<header>
			<h1><a href="/">Django Blog</a></h1>
		</header>
		<div class="container">
			{% block content %}
			{% endblock content %}
		</div>
	</body>
</html>
		
